<div class="eqLogic-widget eqLogic allowResize" style="width: 300px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">
 
  <center><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display# </a></center>
  
  
   <div class="row">
    <div class="col-md-2 horoscopeDuJour#id#">
            <div style="text-align: center;"><br><br><i class="fa fa-smile-o"></i></div>
        </div>
	     <div class="col-md-10 horoscopeDuJour#id#">
            <span class="history cursor cmd tooltips cmd cmd-widget" data-type="info" data-subtype="string" data-cmd_id="#horoscopeDuJour#"><br><b>horoscope du jour :</b><br>  #horoscopeDuJour#</span>
        </div>
    </div>
	</div>

  
  
</div>